#header {
  position: relative;
  margin-top: 1em;
  height: 4em;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
}

#header a.logonav {
  position: absolute; top: 0; left: 0;
  font-size: 2.5rem; 
  text-decoration: none;
}

#header #header_buttons {
  margin-top: 0.6em;
  position: absolute; top: 0; right: 0;
}

#header #header_buttons a {
  text-decoration: none;
}

#header #header_buttons #theme-toggle::before {
  content: "Toggle dark/light";
  font-size: 1em;
}
#header #header_buttons #theme-toggle:hover::before {
  text-decoration: underline;
}

#header #header_buttons #theme-toggle > svg {
  display: none;
}

/* this theme hides the header page_name,
 * and shows the h1.post_header_page_name instead. */
#header .page_name { display: none; }
