body {
  margin: 1em;
  font-size: 18px;
}

#header a.logonav {
  display: none;
  font-size: 2.5rem; 
  text-decoration: none;
}

#header .page_name {
  font-size: 2.5rem; 
}

#header .back_button { display: none; }
#header #header_buttons { display: none; }

