{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Data.AsteroidName }} {{ .Data.UrlPath }}</title>
    {{ template "html_head" }}
  </head>
  {{- if eq .Data.AtHome "1" -}} 
  <body onload="main()" class="atHome">
  {{- else -}}
  <body onload="main()">
  {{- end -}}
    <div id="root">
      <div id="header">
        {{ template "back_button" . }}
        {{ template "logo" . }}
        {{ template "toggle_darkmode" . }}
        {{ template "page_name" . }}
      </div>
      <h1 class="post_header_page_name">
        {{ template "page_name" . }}
      </h1>
      <div id="home">
        <pre id="source">
          {{- .Data.Content -}}
        </pre>
      </div>
      {{ template "footer" }}
    </div>
    {{ template "js" }}
  </body>
</html>
{{- end -}}
