{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Data.AsteroidName }}</title>
    {{ template "html_head" }}
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">
        {{ template "logo" . }}
        {{ template "toggle_darkmode" . }}
      </div>
      <div id="subheader">
        {{ template "page_name" . }}
        {{ template "back_button" . }}
      </div>
      <div id="home">
        <pre id="source">
          {{ .Data.Content }}
        </pre>
      </div>
      {{ template "footer" }}
    </div>
    {{ template "js" }}
  </body>
</html>
{{- end -}}
