{{- define "app" -}}
<!DOCTYPE html>
  <html>
    <head>
      <title>{{ .Data.AsteroidName }}</title>
      {{ template "html_head" }}
    </head>
    <body onload="main()">
      <div id="root">
        <div id="header">
        {{ template "back_button" . }}
        {{ template "logo" . }}
        {{ template "header_buttons" . }}
        <span class="page_name"><a href="{{ .Data.DirPath }}/">{{ .Data.DirPath }}/</a>{{ .Data.FileName }}</span>
        </div>

        <div id="package_file">
          <pre><code>{{ .Data.FileContents }}</code></pre>
        </div>

        {{ template "footer" }}
      </div>
      {{ template "js" }}
      <script type="text/javascript" src="/static/js/highlight.min.js"></script>
      <script>
       hljs.configure({
         throwUnescapedHTML: true // important to avoid inserting escaped html
       })
       hljs.highlightAll() // applied to all <pre><code>...</code></pre>
      </script>
    </body>
  </html>
{{- end -}}

