{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Data.AsteroidName }} Content of {{ .Data.DirPath }}</title>
    {{ template "html_head" }}
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">
        {{ template "back_button" . }}
        {{ template "logo" . }}
        {{ template "header_buttons" . }}
        <span class="page_name">Content of {{ .Data.DirPath }}</span>
      </div>

      <div id="packge_dir">
        {{ template "dir_contents" . }}
      </div>

      {{ template "footer" }}
    </div>
    {{ template "js" }}
  </body>
</html>
{{- end -}}

{{ define "dir_contents" }}
<div class="dir_contents">
  {{ $dirPath := .Data.DirPath }}
  <ul>
    {{ range .Data.Files }}
    <li class="dir_entry">
      <a href="{{ $dirPath }}/{{ . }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
